USERNAME='your-username'
USERID='your-user-id'
PASSWORD='your-password'
ENV='local'
APITOKEN='your-api-token'
SLACK_WEBHOOK_URL='https://hooks.slack.com/services/your/team/webhook'
USERNAME_ADMIN='your-admin-username'
USERNAME_USER='your-user-username'
APPLITOOLS_API_KEY='your-applitools-api-key'